{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox"   data-section= "inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose" data-section="compose" >Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent" data-section="sent" >Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived" data-section="archived" >Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view">
    </div>
        <div class="form-group" id="emails-list">
              <form  style="border:#400080">
                  {% csrf_token %}
                  {% if email and emails|length > 0 %}
                      <div class="form-group">
                          <table class="table">
                              <thead>
                              <tr>
                              <th scope="col">From: </th>
                              <th scope="col">To: </th>
                              <th scope="col">Subject:</th>
                              <th scope="col">Date:  </th>
                              </tr>
                             </thead>
                            {% for email in emails %}
                                <tr>
                                <td><a href="#">{{ email.sender }}</a></td>
                                <td><a href="#">{{ email.recipients }}</a></td>
                                <td>{{ email.subject }}</td>
                                <td>{{ email.timestamp }}</td>
                                </tr>
                            {% endfor %}
                          </table>
                      {% endif %}
                </form>
            </div>


    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            {% csrf_token %}
            <div class="form-group">
                From: <input disabled class="form-control" id="compose-sender" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
              Subject:<input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
              Write:<textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
          <input id="submit" type="submit" class="btn btn-primary"/>
        </form>
    </div>


{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}
