textarea {
    min-height: 400px;
}

table {
  font-family: verdana, arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  column-width: 200px;
}
